body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

#hero {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    animation: fade-up 1s ease-out forwards;
}

.hero-content>h2{
    color:white;
}


@keyframes fade-up {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

#features {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    /* transform: translateY(50%); */
    /* opacity: 0; */
    /* height: 100vh; */
    /* animation: fade-up 1s ease-out forwards; */

}

.feature {
    background-color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    /* width: 100vw; */
    /* flex-grow: 1; */
    justify-content: space-between;
    box-shadow:
        0px 3px 3px rgba(0, 0, 0, 0.25),
        0px 0px 0px 4px white,
        0px 0px 0px 5px rgba(0, 0, 0, 0.15);
}

a {
    text-decoration: none;
    color: inherit;
}

.hero-content {
    text-align: center;
}

.hero-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.hidden {
    display: none;
}

.module-group {
    background-size: cover;
    background-position: center;
    width: 100vw;
}

#learning-modules {
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    place-items: center;
    text-align: center;
    width: 100vw;
}

@media screen and (max-width: 1000px) {

    .feature {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .module {
        width: 90vw;
        margin-top: 20%;
    }

    .hero-content h2 {
        font-size: 6vh;
    }

}

/* Style the active state of the dropdown */
.dropdown-trigger.active+.module-content {
    display: block;
}

#blog-section{
    width: 100vw;
    /* height: 100vh; */
}