.module-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 5%;
}

.module-peek {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    width: 100%;
    box-shadow:
        0px 3px 3px rgba(0, 0, 0, 0.25),
        0px 0px 0px 4px white,
        0px 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.module-peek h3 {
    margin-bottom: 10px;
}

.module-peek p {
    margin: 0;
    padding-left: 20%;
    flex-grow: 1;
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.module-peek button {
    margin-left: 10px;
    white-space: nowrap;
}

@media screen and (max-width: 1000px) {
    .module-peek{
        flex-direction: column;
    }

    .module-peek>p{
        /* padding-left: 8%; */
        padding-left: 0%;
        text-align: center;
        position: relative;
    }

    .subModule{
        /* width: 100%; */
        width: auto;
    }
}

.dropdown {
    display: flex;
    flex-direction: column;
    padding-left: 12%;
    padding-right: 12%;
    transform-origin: top;
}

.dropdown.open {
    animation: slideIn 0.5s;
}

.dropdown.closed {
    animation: slideOut 0.5s;
    display: none;
}

@keyframes slideIn {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes slideOut {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

.subModule{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding-left: 10px;
    flex-grow: 1;
}