h1,
h2 {
    color: white;
}

body {
    overflow-x: hidden;
}

section {
    width: 100vw;
}

button {
    padding: 40px 40px;
    background-color: #fff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: none;
    cursor: pointer;
    margin: 20px;
    transition: background-color 1s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

button:hover {
    color: black;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

button:active {
    color: #555;
    background-color: #f6f9ff;
    transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

nav {
    display: flex;
    width: 100%;
    height: 50px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
    z-index: 2;
    box-sizing: border-box; /* Add box-sizing property */
}

.nav-left {
    margin-right: 1rem; /* Add margin-right property */
}

.nav-right {
    margin-left: auto;
    max-width: 150px;
}


.background-parallax {
    background-image: url("../media/fintroBackgroundDark.png");
    background-size: cover;
    width: 100vw;
    /* height: 200vh; */
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(0);
}

.foreground {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: transparent;
    position: relative;
    z-index: 1;
    align-items: center;
    text-align: center;
}

.foreground>h1{
    padding-top: 75px;
}

.chat-integration{
    text-align: center;
}

.chat-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #0078ff;
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    z-index:1;
    cursor: pointer;
}

.chat-icon:focus {
    outline: none;
}

/* Mobile Styling */
@media (max-width: 768px) {
    h1, h2 {
        font-size: 24px;
        text-align: center;
    }

    button {
        padding: 20px 20px;
        font-size: 16px;
        margin: 10px;
    }

    nav {
        height: 60px;
        padding: 0.5rem;
    }

    .nav-left, .nav-right {
        display: none;
    }

    .nav-right {
        max-width: none;
    }

    .chat-icon {
        width: 40px;
        height: 40px;
        font-size: 20px;
        right: 10px;
        bottom: 10px;
    }

    .foreground > h1 {
        padding-top: 60px;
    }
}
