body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

#hero {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

#features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    transform: translateY(50%);
    opacity: 0;
    animation: fade-up 1s ease-out forwards;
    /* height: 100vh; */
}

@keyframes fade-up {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.feature {
    background-color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    /* width: 100vw; */
    /* flex-grow: 1; */
    justify-content: space-between;
    box-shadow:
        0px 3px 3px rgba(0, 0, 0, 0.25),
        0px 0px 0px 4px white,
        0px 0px 0px 5px rgba(0, 0, 0, 0.15);
}

a {
    text-decoration: none;
    color: inherit;
}

.hero-content {
    text-align: center;
}

.hero-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.hidden {
    display: none;
}

.module-group {
    background-size: cover;
    background-position: center;
    width: 100vw;
}

#learning-modules {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    place-items: center;
    text-align: center;
    width: 100vw;
}

#learning-modules>h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.module {
    background-color: white;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    width: 30vmin;
    place-items: center;
    transition: transform 400ms ease;
    box-shadow:
        0px 3px 3px rgba(0, 0, 0, 0.25),
        0px 0px 0px 4px white,
        0px 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.counter {
    padding-bottom: 10px;
}

.module-buttons {
    margin-bottom: 8vmin;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow:
        0px 3px 3px rgba(0, 0, 0, 0.25),
        0px 0px 0px 4px white,
        0px 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.module-buttons>button {
    font-size: 2.5vmin;
    border: 0.4vmin solid rgb(200, 200, 200);
    border-radius: 100%;
    color: black;
    background-color: transparent;
    height: 5vmin;
    width: 5vmin;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.module-buttons>button:hover {
    /* background-color: #bdbdbd; */
    color: #fff;
    color: rgb(33, 150, 243);
    border-color: rgb(33, 150, 243);
    transition: border-color 1s ease;
}

.module-content-button {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    box-shadow:
        0px 3px 3px rgba(0, 0, 0, 0.25),
        0px 0px 0px 4px white,
        0px 0px 0px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.module-content.active {
    background-color: white;
    box-shadow: none;
}

@media screen and (max-width: 1000px) {
    .module {
        padding-left: 10px;
        padding-right: 10px;
        width: 80vw;
        padding-bottom: 0;
        margin-top: 30%;
        max-height: 75vh;
    }

    .dropdown-trigger.active+.module-content {
        max-height: 75px;
        max-width: fit-content;
        overflow-y: scroll;
    }

    .dropdown-trigger.active+h3 {
        padding-top: 2%;
    }


    .module-buttons {
        margin-bottom: 10%;
    }

    .hero-content h2 {
        font-size: 8vh;
    }

    #learning-modules>h2 {
        font-size: 5vh;
        padding-top: 2%;
    }

    .feature {
        padding-left: 20px;
        padding-right: 20px;
    }

}

.dropdown-trigger {
    cursor: pointer;
    user-select: none;
}

/* Style the active state of the dropdown */
.dropdown-trigger.active+.module-content {
    display: block;
}

#blog-section{
    width: 100vw;
    height: 100vh;
}

/* .module[data-status="unknown"] {
    transform: scale(0);
    transition: none;
    visibility: hidden;
}

.module[data-status="active"] {
    transition-delay: 300ms;
    visibility: visible;
}

.module[data-status="after"] {
    transform: translateX(50%) scale(0);
}

.module[data-status="before"] {
    transform: translateX(-50%) scale(0);
}

.module[data-status="becoming-active-from-after"] {
    transform: translateX(50%) scale(0);
    transition: none;
}

.module[data-status="becoming-active-from-before"] {
    transform: translateX(-50%) scale(0);
    transition: none;
} */