h1,
h2 {
    color: white;
}

body {
    overflow-x: hidden;
}

section {
    width: 100vw;
}

button {
    padding: 40px 40px;
    background-color: #fff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: none;
    cursor: pointer;
    margin: 20px;
    transition: background-color 1s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

button:hover {
    color: black;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

button:active {
    color: #555;
    background-color: #f6f9ff;
    transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

nav {
    display: flex;
    /* position: absolute; */
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
    z-index: 2;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    margin-left: auto;
}


.background-parallax {
    background-image: url("media/fintroBackgroundDark.png");
    background-size: cover;
    width: 100vw;
    /* height: 200vh; */
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(0);
}

.foreground {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: transparent;
    position: relative;
    z-index: 1;
    align-items: center;
    text-align: center;
}