html,
body {
    height: 100%;
}

.background-parallax {
    background-image: url('fintroduction_background.png');
    /* background-size: contain;
    background-position: center;
    height: 400%;
    width: 100vw;
    position: absolute;
    z-index: -1; */

    background-size: contain;
    background-repeat: repeat-y;
    height: 200vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    background-attachment: fixed;
    background-repeat: repeat;

}

.foreground {
    background-size: contain;
    background-color: transparent;
    position: relative;
    z-index: 1;
}